body{
    background-color: rgb(47, 222, 193);
}

#title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body div{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    float:left;
}
#container1{
    margin-left:17vw;
    width:60vw;
}
#container2{
    margin-left:27vw;
    width:40vw;
}
#container3{
    margin-left:9vw;
    width:80vw;
}
#one{
    background-image: url('../images/mound_1.png');
    /* background: url('../images/mound_1.png'); */
    background-size: 100%;
}
#two{
    background-image: url('../images/mound_2.png');
    background-size: 100%;
}
#three{
    background-image: url('../images/mound_3.png');
}
#four{
    background-image: url('../images/mound_4.png');
}
#five{
    background-image: url('../images/mound_5.png');
}
#six{
    background-image: url('../images/mound_6.png');
}
#seven{
    background-image: url('../images/mound_7.png');
}
#eight{
    background-image: url('../images/mound_8.png');
}
#nine{
    background-image: url('../images/mound_9.png');
}
#one:hover{
    background-image: url('../images/mound_1_hover.png');
}
#two:hover{
    background-image: url('../images/mound_2_hover.png');
}
#three:hover{
    background-image: url('../images/mound_3_hover.png');
}
#four:hover{
    background-image: url('../images/mound_4_hover.png');
}
#five:hover{
    background-image: url('../images/mound_5_hover.png');
}
#six:hover{
    background-image: url('../images/mound_6_hover.png');
}
#seven:hover{
    background-image: url('../images/mound_7_hover.png');
}
#eight:hover{
    background-image: url('../images/mound_8_hover.png');
}
#nine:hover{
    background-image: url('../images/mound_9_hover.png');
}

#one:active{
    background-image: url('../images/penguin_1.png');
}
#two:active{
    background-image: url('../images/penguin_2.png');
}
#three:active{
    background-image: url('../images/penguin_3.png');
}
#four:active{
    background-image: url('../images/yeti.png');
}
#five:active{
    background-image: url('../images/penguin_5.png');
}
#six:active{
    background-image: url('../images/penguin_6.png');
}
#seven:active{
    background-image: url('../images/penguin_7.png');
}
#eight:active{
    background-image: url('../images/penguin_8.png');
}
#nine:active{
    background-image: url('../images/penguin_4.png');
}